
body {
	margin: 0px;
	padding: 0px;
	background: #E9F0F2 url(images/img02.jpg) repeat-x left top;
	text-align: justify;
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
}

h1, h2, h3 {
	font: 1.82em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}

p, ol, ul {
	line-height: 1.67em;
}

a {
	color: #DA2128;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}

/* Header */

#header {
	width: 1000px;
	height: 130px;
	background: #A3CFD9;
	margin: 0px auto;
}

/* Logo */

#logo {
	float: left;
	height: 130px;
	padding: 10px 0 0 30px;
}

#logo h1 {
	margin: 0;
	height: 100px;
	padding: 40px 0 0 0px;
	text-transform: lowercase;
	letter-spacing: -2px;
	font-size: 4em;
	font-weight: normal;
	color: #FFFFFF;
}

#logo h1 a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}

#logo p {
	margin: -103px 0 0 2px;
	text-transform: uppercase;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
}

#logo a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
	background: #DA2128 url(images/img03.jpg) no-repeat left top;
	margin-top: 60px;
}

#menu ul {
	background: url(images/img04.jpg) no-repeat right top;
	margin: 0px;
	margin-left: 10px;
	margin-right: 15px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 5px;
	padding: 4px 15px;
	background: url(images/img05.jpg) no-repeat right 50%;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 11px;
	color: #FFFFFF;
}

#menu a:hover, .active a {
}

/* Page */


#page {
	width: 940px;
	margin: 0px auto;
	padding: 20px 0 0 0;
}

/* Content */

#content {
	float: left;
	width: 650px;
	margin-bottom: 10px;
}

/* Post */

.post {
	float: left;
	width: 79px;
	height: 79px;
	margin: 0;
	margin-top: 6px;
	margin-right: 20px;
	padding-top: 9px;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.post .date b {
	margin: 0;
	padding: 0;
	display: block;
	margin-top: 12px;
	font-size: 32px;
	color: #000000;
	
}

.post .title {
	margin: 0;
	padding: 5px 0 0 0;
	margin-left: 10px;
	padding-left: 10px;
	font-size: 1.8em;
}

.post .title h2 {
	padding: 0;
	margin: 0;
}

.post .hr1 {
}

.post .meta {
	margin: 0 0 10px 100px;
	padding: 3px 10px 5px 10px;
	background: #A3CFD9;
	border: 2px #CCE5EB solid;
	line-height:normal;
	text-transform: uppercase;
	color: #000000;
}

.post .meta p {
}

.post .meta a {
	color: #DA2128;
}

.post .entry {
	margin: 0;
	padding: 0 0 20px 100px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 240px;
	padding-top: 20px;
	margin-bottom: 20px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 30px;
}

#sidebar li ul {
	border-top: 1px dashed #666633;
}

#sidebar li li {
	margin: 0;
	padding: 4px 0 4px 0;
}

#sidebar li li a {
}

#sidebar h2 {
	padding: 0;
	margin: 0 0 6px 0;
	font-size: 12px;
	font-weight: bold;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}


/* Footer */

#wrapper2 {
}

#footer {
	width: 940px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#footer a {
	text-decoration: none;
	font-size: 10px;
	color: #FFFFFF;
}

#legal {
	clear: both;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	font-size: 10px;
	color: #000000;
	background: #A3CFD9;
	border: 2px #CCE5EB solid;
}

#legal a {
	border-bottom: 1px dotted #DA2128;
	text-decoration: none;
	color: #DA2128;
}
